body{
    margin: 0;
    padding: 0;
}

i{
    font-size: 50px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transition: transform 2s ease-in-out;
}

i:hover{
    transform: translate(-50%,-50%);
}
#audio{
    display: none;
}